.ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

button {
    font-family: 'Ubuntu', sans-serif;
    
}

th {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

td {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

th {
    text-align: left;
}

p {
    font-weight: normal;
    font-size: 16px;
}