.ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.utilities-button {
    height: auto;
    width: auto;
}

.check-up-button {
    height: 25px;
    width: 100px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    width: 200px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: none;
}

p {
    font-weight: normal;
    font-size: 16px;
}